.roadmap {
  display: flex;
  padding: 50px 16px;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  width: 100%;
  h1 {
    margin: 0;
  }
  .roadmap_content {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    .roadmap_content_stage {
      text-align: start;
      color: #000;
      width: 45%;
      padding: 32px;
      border: 3px solid #000;
      border-radius: 16px;
      background-color: #e0e0e0;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      font-size: 18px;
      font-family: "HeyComic", sans-serif;
    }
    .roadmap_content_stage_title {
      width: 35%;
      text-align: center;
    }
  }
  .reverse_content {
    flex-direction: row-reverse;
  }
}

@media (max-width: 769px) {
  .roadmap {
    .roadmap_content {
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      .roadmap_content_stage {
        width: 100%;
      }
      .roadmap_content_stage_title {
        width: 100%;
      }
    }
    .reverse_content {
      flex-direction: column;
    }
  }
}
