.buy {
  padding: 40px 0;
  width: 100%;
  text-align: center;
  .buy_main {
    display: flex;
    gap: 45px;
    justify-content: center;
    width: 100%;
    .buy_desc {
      display: flex;
      flex-direction: column;
      gap: 45px;
      justify-content: start;
      width: 100%;
      .buy_desc_content {
        background-color: #c1daea;
        color: #000;
        padding: 24px 12px;
        text-align: center;
        .buy_desc_text {
          margin-left: 25px;
        }
      }
    }
    .buy_gif {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .buy {
    padding: 40px 15px;
    .buy_main {
      flex-direction: column;
    }
  }
}
