.team {
  gap: 40px;
  padding: 40px 0;
  .team_member {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 40px;
    .team_avatar {
      width: 448px;
      height: 426px;
    }
    .team_desc {
      width: 60%;
      .team_descText {
        font-size: 36px;
        font-weight: 400;
        color: #000;
      }
    }
  }
}

@media (max-width: 768px) {
  .team {
    padding: 30px;
    gap: 20px;
    .team_member {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .team_desc {
        align-items: center !important;
      }
    }
  }
}

@media (max-width: 426px) {
  .team {
    .team_member {
      .team_avatar {
        width: 350px;
        height: 350px;
      }
      .team_desc {
        width: 100%;
        .team_descText {
          font-size: 24px;
        }
      }
    }
  }
}
