.donate {
  background-color: #4d6cc3;
  padding: 40px 60px;
  .donate_illust {
    width: 100%;
    padding: 25px 0;
    .donate_illust_img {
      width: 100%;
      height: 560px;
    }
  }
  .donate_desc {
    font-size: 36px;
    text-align: justify;
    color: #000;
  }
}

@media (max-width: 426px) {
  .donate {
    .donate_desc {
      font-size: 18px;
    }
  }
}
