.header {
  display: table;
  max-width: 100%;
  margin: auto;
  width: 100%;
  margin-bottom: 35px;

  .bg_color {
    background-color: #f5882d !important;
  }

  .navbar {
    margin: 0 auto;
    font-size: 15px;
    margin: 0;
    width: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;

    .responsive_button {
      opacity: 0.8;
      background-color: #fff;
    }

    .nav_logo {
      height: 75px;
      background-color: transparent;
    }

    .navbar_nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      z-index: 100;

      .open {
        display: none;
        transform: translateX(-100%);
      }

      .menu {
        padding: 0.5rem 1rem;
        color: #fff;
        border-radius: 1.3rem;
        margin: 0 25px;
        font-size: 20px;
        font-family: "Badaboom BB", sans-serif;
      }

      .dropdown_icon::after {
        display: inline-block !important;
        margin-left: 10px !important;
        vertical-align: -2px !important;
        content: " ";
        border-top: 13px solid !important;
        border-right: 8px solid transparent !important;
        border-left: 8px solid transparent !important;
        border-bottom: 0 !important;
      }

      .dropdown_content {
        top: 115%;
        left: 30px;
        margin-top: 0.125rem;
        color: #00303e;
        background-color: #d2f6ff;

        .dropdown_menu:hover {
          border-color: #000 !important;
          color: #d2f6ff !important;
          background-color: #00303e !important;
        }
      }

      .menu:hover {
        color: #50b861;
        padding: 0.5rem 1rem;
      }

      .walletConnect {
        padding: 0.5rem 1rem;
        -webkit-text-stroke: 4px white;
        paint-order: stroke fill;
        color: #000;
        background-color: #f5882d;
        border: 3px solid #000;
        border-radius: 1.3rem;
        margin: 0 25px;
        font-size: 18px;
        font-family: "Badaboom BB", sans-serif;
        margin: 10px 5px;
        cursor: pointer;
        transition: all 0.1s;
      }

      .walletConnect:hover {
        background-color: #f79a4d;
        opacity: 0.8;
        padding: 0.5rem 1rem;
      }
    }
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #fff;

    .subtitle {
      background-color: #00303e;
      opacity: 0.7;
      border-radius: 20px;
      bottom: -4%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;

      span {
        padding: 0 85px;
        font-size: 45px;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 1570px) {
  .header {
    .about {
      .subtitle {
        bottom: -10%;
      }
    }
  }
}

@media (max-width: 1199px) {
  .header {
    .menu {
      margin: 5px 10px !important;
    }
  }
}

@media (max-width: 1199px) {
  .header {
    .menu {
      margin: 5px 10px !important;
    }
  }
}

@media (max-width: 991px) {
  .header {
    padding: 0;
    position: relative;

    .navbar {
      .nav_logo {
        height: 100px !important;
      }

      .navbar_nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
        background-color: transparent !important;

        .menu {
          margin-top: 10px;
        }

        .dropdown_content {
          background-color: #48bfe3 !important;
          border: none;
          min-width: 50px;
        }

        .walletConnect {
          margin-top: 10px;
        }
      }
    }

    .about {
      .subtitle {
        span {
          font-size: 35px;
          padding: 0 50px;
        }
      }
    }

    // h1 {
    //     font-size: 50px!important;
    // }
    // h4 {
    //     font-size: 20px!important;
    // }
  }
}

@media (max-width: 805px) {
  .header {
    .about {
      .subtitle {
        bottom: -20% !important;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .header {
    padding: 0;

    .about {
      .subtitle {
        span {
          font-size: 35px !important;
          padding: 0 30px !important;
        }
      }
    }
  }
}

@media (max-width: 517px) {
  .header {
    .about {
      .subtitle {
        span {
          font-size: 30px !important;
          padding: 0 20px !important;
        }
      }
    }
  }
}

@media (max-width: 391px) {
  .header {
    .navbar {
      .nav_logo {
        height: 70px !important;
      }
    }

    .about {
      .subtitle {
        span {
          font-size: 25px !important;
          padding: 0 15px !important;
        }
      }
    }
  }
}
