@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

body {
  font-family: "Paytone One", sans-serif;
}

code {
  font-family: "Paytone One", sans-serif;
}

h1,
h2,
h3,
p,
span,
a {
  font-family: "Paytone One", sans-serif;
}
