@font-face {
  font-family: "Badaboom BB";
  src: url("./assets/font/BADABB__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Badaboom BB", sans-serif;
  background-color: #4d6cc3 !important;
  color: #fff !important;
}

code {
  font-family: "Badaboom BB", sans-serif;
}

h1,
h2,
h3,
p,
span,
a {
  font-family: "Badaboom BB", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Badaboom BB", sans-serif;
  color: #f0b90b !important;
}
