.banner {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #d1d1d1;
  .banner_subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 60px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .banner_btnWallet {
      .walletConnect {
        padding: 0.5rem 1rem;
        color: #ffffff;
        background-color: #2c2c2c;
        border: 2px solid #d2f6ff;
        border-radius: 1.3rem;
        margin: 0 25px;
        font-size: 18px;
        font-family: "Paytone One", sans-serif;
        cursor: pointer;
        transition: all 0.1s;
      }

      .walletConnect:hover {
        border-color: #000;
        color: #00303e;
        background-color: #d2f6ff;
        padding: 0.5rem 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    display: flex;
    padding: 30px 0;
    .banner_subtitle {
      position: relative;
    }
    .banner_bottom {
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }
  }
}
